<h1>{{ title }}</h1>
<table>
    <tbody>
        {{#each profile}}
        <tr>
            <td>{{@key}}: </td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
{{#if cliExample }}
<dim>
    <p><b>cli Example:</b></p>
<pre>
{{ cliExample }}
</pre>
</dim>
{{/if}}

<br>
{{#if next }}<a href="{{next.href}}">Next - {{ next.title }}</a>{{/if}}

<br><br><br>
<a href="/">Home</a>
